# macOS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user

# logs
*.log
*.out
*.err

# temporary
tmp/
temp/
temp_f2/

# large results
results/figures/*.pdf
results/figures/*.png
results/supplementary_tables/*.csv
results/supplementary_tables/*.tsv
results/supplementary_tables/*.xlsx
results/logs/*

# compressed / binary
*.rds
*.rda
*.mtx
*.mtx.gz
*.zip
*.gz
*.tar
*.tar.gz

# editor
.vscode/
.idea/
