.DS_Store
.Rhistory
.RData
.Rproj.user/
*.Rproj
*.log
*.out
*.err
*.tmp
*.swp
__pycache__/
*.pyc
.ipynb_checkpoints/
results/
outs/
logs/
slurm_logs/
*.gz
*.bgz
*.rds
*.RData
*.pdf
*.png
*.jpg
*.jpeg
*.tiff
