.DS_Store
.Rhistory
.RData
.Rproj.user/
*.Rproj
*.log
*.out
*.err
*.tmp
*.swp
__pycache__/
*.pyc
.ipynb_checkpoints/

# large data / binary objects
*.rds
*.RData
*.gz
*.bgz
*.pdf
*.png
*.jpg
*.jpeg
*.tiff

# analysis outputs
Figure*/
results/
outs/
logs/
slurm_logs/
